<!DOCTYPE html>
<html>
<head>
    <title>Havan - @ViewBag.Title </title>
</head>
<body>
    <header style="height:180px; background: #ccc ">
        <h1>Olá Havan</h1>
        <a href="/home/Cadastrar">Cadastrar</a>
        <a href="/home/Tabela">Tabela</a>
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>