@{
    ViewBag.Title = "Salvo";
}
<form action="/Home/Salvar" method="post">

    <a href="Index">Home</a>
    <h1>Cadatrar de Bebidas</h1>
            ID:
    <input id="id" type="number" name="Id"/>
    <br />
            Bebida:
    <input id="nome" type="text" name="Bebida" />
    <br />
    <input type="submit" name="salvar" value="Salvar"/>
</form>